:root {
    --shadow: rgba(0, 0, 0, 0.1);
}

body {
    font-family: 'Times New Roman', serif !important;
    color: darkslategrey;
    background-color: whitesmoke;
    padding: 20px;
}

h1 {
    color: black;
}

p {
    color: darkslategrey;
}

form {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px var(--shadow);
}

#manual-input, #csv-input, #submit {
    display: none;
}

#manual-input {
    width: 60%;
}

#csv-input {
    margin-bottom: 15px;
}

input[type="submit"] {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: darkslategrey;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0px 0px 10px var(--shadow);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-sizing: border-box;
}

th, td {
    padding: 10px;
    border: 1px solid darkslategrey;
    text-align: left;
}

th {
    background-color: darkgrey;
}

tr:nth-child(even) {
    background-color: whitesmoke;
}

tr:hover {
    background-color: lightgrey;
}

td {
    max-width: 20ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}