body {
    font-family: 'Times New Roman', serif !important;
    color: #333;
    background-color: #f0f0f0;
    padding: 20px;
}

h1 {
    color: #000;
}

p {
    color: #666;
}

form {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#manual-input, #csv-input, #submit {
    display: none;
}

#manual-input {
    width: 60%;
}

#csv-input {
    margin-bottom: 15px;
}

input[type="submit"] {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #444;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-sizing: border-box;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #ddd;
}

td {
    max-width: 20ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}