:root {
    --shadow: rgba(0, 0, 0, 0.1);
}

body {
    font-family: 'Times New Roman', serif !important;
    color: darkslategrey;
    padding: 1%;
}

h1 {
    color: black;
}

form {
    background-color: whitesmoke;
    padding: 1%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px var(--shadow);
}

/* Hide input fields until they are dynamically shown (by pressing their radio buttons) */
#manual-input, #csv-input, #submit {
    display: none;
}

#manual-input {
    width: 60%;
}

input[type="submit"], #download-button {
    background-color: black;
    color: white;
    border: none;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

input[type="submit"]:hover, #download-button:hover {
    background-color: darkslategrey;
}

#download-button {
    margin: 1%;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 0px 10px var(--shadow);
    border-radius: 5px;
    box-sizing: border-box;
}

th, td {
    padding: 5px;
    border: 1px solid darkslategrey;
}

th {
    background-color: darkgrey;
}

tr:nth-child(even) {
    background-color: whitesmoke;
}

tr:hover {
    background-color: lightgrey;
}

td {
    max-width: 20ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Define 'spin' keyframes animation that rotates from 0 to 360 degrees */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading {
    position: fixed; /* Stays in same place when scolling */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(211, 211, 211, 0.5); /* lightgrey with 50% opacity */
    z-index: 9999; /* Place it on top of all other elements */
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading-content {
    background-color: lightgrey;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loading-spinner {
    width: 100px;
    height: 100px;
    /* Apply 'spin' animation for 2 seconds at a constant speed to repeat indefinitely (infinite) */
    animation: spin 2s linear infinite;
}

#timer {
    margin-top: 20px;
}