<!DOCTYPE html>

<html>

    <head>
        <title>Sequence Alignment</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <!-- Bootstrap CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <!-- From https://pixabay.com/vectors/dna-deoxyribonucleic-acid-health-2858794/ -->
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    </head>

    <body>
        <h1>Sequence Alignment</h1>
        <h5>Enter your DNA sequences to perform global and local sequence alignment.</h5>
        <br>

        <!-- Show error message if less than 2 valid DNA sequences submitted -->
        {% if error %}
            <p style="color: darkred;">{{ error }}</p>
        {% endif %}

        <!-- Loading screen overlay with image of spinning DNA and timer -->
        <!-- Hide until dynamically shown (by pressing submit button) -->
        <div id="loading" style="display: none;">
            <div id="loading-content">
                <img src="{{ url_for('static', filename='favicon.png') }}" id="loading-spinner">
                <h6 id="timer">0 seconds</h6>
            </div>
        </div>

        <!-- Form for submitting DNA sequences -->
        <form id="sequence-form" method="post" enctype="multipart/form-data">
            <!-- Manual Input: type into multi-line input box -->
            <input type="radio" id="manual" name="input_type" value="manual">
            <label for="manual">Manual Input</label><br>
            <textarea id="manual-input" name="sequences" placeholder="Enter 2+ DNA sequences seperated by newlines"></textarea><br>

            <!-- Upload CSV -->
            <input type="radio" id="csv" name="input_type" value="csv">
            <label for="csv">Upload CSV</label><br>
            <input type="file" id="csv-input" name="csv"><br>

            <!-- Submit Button -->
            <input type="submit" id="submit" value="Submit">
        </form>

        <!-- Table representation of results.db -->
        {% if rows %}
            <!-- Button to download results.db -->
            <a href="{{ url_for('download_results') }}" id="download-button" class="btn">Download Results</a>

            
            <button onclick="window.location.href = '/?sort_column=ga_score&sort_order=ASC'">Sort by Global Score Ascending</button>
            <button onclick="window.location.href = '/?sort_column=ga_score&sort_order=DESC'">Sort by Global Score Descending</button>
            <button onclick="window.location.href = '/?sort_column=la_score&sort_order=ASC'">Sort by Local Score Ascending</button>
            <button onclick="window.location.href = '/?sort_column=la_score&sort_order=DESC'">Sort by Local Score Descending</button>

            <table>
                <tr>
                    <th>Sequence 1</th>
                    <th>Sequence 2</th>
                    <th>Global Alignment 1</th>
                    <th>Global Alignment 2</th>
                    <th>Global Score</th>
                    <th>Local Alignment 1</th>
                    <th>Local Alignment 2</th>
                    <th>Local Score</th>
                    <th>Timestamp</th>
                </tr>
                {% for row in rows %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            <table>
        {% endif %}

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

        <!-- Bootstrap JS and dependencies -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>

</html>