<!DOCTYPE html>

<html>

    <head>
        <title>Sequence Alignment</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <!-- Bootstrap CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <!-- From https://pixabay.com/vectors/dna-deoxyribonucleic-acid-health-2858794/ -->
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    </head>

    <body>
        <main class="container">
            <header class="page-header">
                <h1>Sequence Alignment</h1>
                <p class="subtitle">Enter your DNA sequences to perform global and local sequence alignment.</p>
            </header>

        <!-- Show error message if less than 2 valid DNA sequences submitted -->
        {% if error %}
            <p class="alert" role="alert">{{ error }}</p>
        {% endif %}

        <!-- Loading screen overlay with image of spinning DNA and timer -->
        <!-- Hide until dynamically shown (by pressing submit button) -->
        <div id="loading" style="display: none;">
            <div id="loading-content">
                <img src="{{ url_for('static', filename='favicon.png') }}" id="loading-spinner">
                <h5 id="timer">0 seconds</h5>
            </div>
        </div>

        <!-- Form for submitting DNA sequences -->
        <form id="sequence-form" method="post" enctype="multipart/form-data" class="card">
            <div class="input-options">
                <!-- Manual Input: type into multi-line input box -->
                <div class="option">
                    <input type="radio" id="manual" name="input_type" value="manual">
                    <label for="manual">Manual Input</label>
                </div>

                <!-- Upload CSV -->
                <div class="option">
                    <input type="radio" id="csv" name="input_type" value="csv">
                    <label for="csv">Upload CSV</label>
                </div>
            </div>

            <div class="input-fields">
                <textarea id="manual-input" name="sequences" placeholder="Enter 2+ DNA sequences separated by newlines"></textarea>
                <input type="file" id="csv-input" name="csv" accept=".csv">
            </div>

            <!-- Submit Button -->
            <div class="actions">
                <input type="submit" id="submit" value="Submit" class="btn btn-primary">
            </div>
        </form>

        {% if rows %}
            <div id="table-controls" class="table-controls">
                <!-- Button to download results.db -->
                <a href="{{ url_for('download_results') }}" id="download-button" class="btn btn-primary">Download Results</a>

                <!-- Buttons to sort table -->
                <div id="sort-controls" class="sort-controls">
                    <h5>Sort By</h5>
                    <button class="sort-button" onclick="window.location.href = '/?sort_column=ga_score&sort_order=ASC'">Global Score &#x25BC;</button>
                    <button class="sort-button" onclick="window.location.href = '/?sort_column=ga_score&sort_order=DESC'">Global Score &#x25B2;</button>
                    <button class="sort-button" onclick="window.location.href = '/?sort_column=la_score&sort_order=ASC'">Local Score &#x25BC;</button>
                    <button class="sort-button" onclick="window.location.href = '/?sort_column=la_score&sort_order=DESC'">Local Score &#x25B2;</button>
                    <button class="sort-button" onclick="window.location.href = '/?sort_column=time&sort_order=ASC'">Time &#x25BC;</button>
                    <button class="sort-button" onclick="window.location.href = '/?sort_column=time&sort_order=DESC'">Time &#x25B2;</button>
                </div>
            </div>

            <!-- Table representation of results.db -->
            <div class="table-wrap">
                <table>
                    <tr>
                        <th>Sequence 1</th>
                        <th>Sequence 2</th>
                        <th>Global Alignment 1</th>
                        <th>Global Alignment 2</th>
                        <th>Global Score</th>
                        <th>Local Alignment 1</th>
                        <th>Local Alignment 2</th>
                        <th>Local Score</th>
                        <th>Timestamp</th>
                    </tr>
                    {% for row in rows %}
                    <tr>
                        {% for cell in row %}
                            <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

        <!-- Bootstrap JS and dependencies -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <script src="{{ url_for('static', filename='script.js') }}"></script>
        </main>
    </body>

</html>